<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Cat Pictures', cat_pictures_path %></li>
</ul>
<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<p>Today is <%="#{current_date_and_time}" %>.</p>
<p>Welcome to the Home page!<p>
