// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #33CCFF;
}
h1{
  font-family: georgia;
  color: #000099;
  text-align:center
}
ul{
  list-style-type: none;
  background-color: #FFFFFF;
  text-align:center;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;

}
p{
  font-family: georgia;
  color: #000099;
  text-align:center
}